$background-color:#323B77;
$title-text-color:#C4C8E6;
$title-font:'Bellefair', serif;
$tagline-font: 'Open Sans', sans-serif;
$card-bg-color:#C4C8E6;
$search-button-color:#C4C8E6;
$RSVP-button-color:#CC0A41;
$going-button-color:#CC0A41;
$button-hover-red:#CC335E;
$going-card-bg-color:#908585;
$background-location:'../media/nyc.jpg';
