html {
  overflow-x: hidden;
}

body {
  background: $bgcolor url($background-location);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

p {
  margin:0px;
}