.form-group {
  width:100%;
}

.form-inline {
  .form-control {
    width:80%;
  }

  .form-group {
    margin-bottom:40px
  }
}

.clubImage {
  width: 150px;
  height: 125px;
}

.search-button {
  margin-left: 20px;
  background-color: $search-button-color;
  color:black;
  font-weight:bold;
}

.RSVP {
  margin-left:35px;
  margin-right:8px;
  float:right;
  background-color:$RSVP-button-color;
  border:none;
  color:white;

    &:hover, &:active, &:visited {
     background-color: $button-hover-red;
     color:white;
    }

    &:focus {
      background-color:$going-button-color;
    }
 }

.btn-default {
  background-color:$RSVP-button-color;
    &:active {
      background-color:$RSVP-button-color;
    }
}


 .goingButton {
  margin-right:8px;
  float:right;
  background-color:$going-button-color;
  border:none;
  color:white;

    &:hover, &:active, &:visited {
     background-color: $button-hover-red;
     color:white;
    }

    &:focus {
      background-color:$going-button-color;
    }
 }

.going-message {
  margin-left:13px;
  float:left;
  margin-top:1px;
  font-weight: bold;
  background-color: $going-card-bg-color;
  padding: 8px 5px 2px 5px;
  font-size: 7px;
}

.rating-message {
  margin-left:35px;
  float:left;
  margin-top:0px;
  font-weight: bold;
}

.card-title {
  margin-left: 10px;
  margin-top: 5px;
  font-family: 'Open Sans', sans-serif;
  margin-bottom:0px;
}

.large-title {
  font-size: 2em;
}

.small-title{
  font-size: 1.35em;
}

.card {
  background-color: $card-bg-color;
  color:black;
  height: 125px;
}

.media:first-child {
  margin-top: 10px;
}

.address {
  margin: 0 0 0 13px;
  font-size: .8em;

    p {
      margin-bottom: 0 0 0 10px;
      font-weight: bold;
    }
}

.rating {
  float:left;
}

.cardBottom {
  display:flex;
  justify-content: space-between;
  margin-top: 9px;
  height:30px;
}

.footer {
  margin-bottom: 30%;
}