html {
  overflow-x: hidden;
}

body {
  background: #24021d url(7f168791bcb4158b66fb224b622b1a01.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

p {
  margin: 0px;
}

.form-group {
  width: 100%;
}

.form-inline .form-control {
  width: 80%;
}

.form-inline .form-group {
  margin-bottom: 40px;
}

.clubImage {
  width: 150px;
  height: 125px;
}

.search-button {
  margin-left: 20px;
  background-color: #C4C8E6;
  color: black;
  font-weight: bold;
}

.RSVP {
  margin-left: 35px;
  margin-right: 8px;
  float: right;
  background-color: #CC0A41;
  border: none;
  color: white;
}

.RSVP:hover,
.RSVP:active,
.RSVP:visited {
  background-color: #CC335E;
  color: white;
}

.RSVP:focus {
  background-color: #CC0A41;
}

.btn-default {
  background-color: #CC0A41;
}

.btn-default:active {
  background-color: #CC0A41;
}

.goingButton {
  margin-right: 8px;
  float: right;
  background-color: #CC0A41;
  border: none;
  color: white;
}

.goingButton:hover,
.goingButton:active,
.goingButton:visited {
  background-color: #CC335E;
  color: white;
}

.goingButton:focus {
  background-color: #CC0A41;
}

.going-message {
  margin-left: 13px;
  float: left;
  margin-top: 1px;
  font-weight: bold;
  background-color: #908585;
  padding: 8px 5px 2px 5px;
  font-size: 7px;
}

.rating-message {
  margin-left: 35px;
  float: left;
  margin-top: 0px;
  font-weight: bold;
}

.card-title {
  margin-left: 10px;
  margin-top: 5px;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 0px;
}

.large-title {
  font-size: 2em;
}

.small-title {
  font-size: 1.35em;
}

.card {
  background-color: #C4C8E6;
  color: black;
  height: 125px;
}

.media:first-child {
  margin-top: 10px;
}

.address {
  margin: 0 0 0 13px;
  font-size: .8em;
}

.address p {
  margin-bottom: 0 0 0 10px;
  font-weight: bold;
}

.rating {
  float: left;
}

.cardBottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 9px;
  height: 30px;
}

.footer {
  margin-bottom: 30%;
}

.homePageTitle {
  color: #C4C8E6;
  text-align: center;
  font-size: 6em;
  margin: 50px 50px 0px 50px;
  font-family: "Bellefair", serif;
}

.homePageTagline {
  color: #C4C8E6;
  text-align: center;
  font-size: 2em;
  margin: 20px 10px 40px 10px;
  font-family: 'Open Sans', sans-serif;
}

.login {
  text-align: center;
}

.login img {
  width: 20%;
}

@media (max-width: 320px) {
  .form-inline .form-control {
    width: 50%;
  }

  .cardBottom {
    margin-left: 12px;
    margin-top: 0px;
  }

  .address {
    margin: 0px;
  }

  .btn {
    padding: 4px 12px;
  }

  .form-control {
    display: inline;
  }

  p {
    font-size: 6.8px;
  }

  .large-title {
    font-size: 1em;
  }

  .small-title {
    font-size: .7em;
    margin-bottom: 2px;
  }

  .clubImage {
    width: 100px;
    height: 90px;
  }

  .card {
    height: 90px;
  }

  .rating-message {
    display: none;
  }

  .RSVP {
    margin-left: 0px;
    font-size: 9px;
    margin-bottom: 3px;
    margin-right: 10px;
  }

  .card-title {
    margin-left: 0px;
  }

  .going-message {
    margin-left: -13px;
    margin-top: 0px;
    font-size: 5px;
    margin-right: 6px;
  }

  .goingButton {
    height: 20px;
    margin: 10px 2px 0px 20px;
    width: 80px;
    padding: 2px 5px;
    margin-left: 6px;
    font-size: 9px;
  }
}

@media (max-width: 400px) and (min-width: 320px) {
  .form-inline .form-control {
    width: 55%;
  }

  .form-control {
    display: inline;
  }

  .card {
    height: 95px;
  }

  .cardBottom {
    margin-top: 0px;
    height: 30px;
  }

  .card-title {
    margin-left: 0px;
  }

  .going-message {
    margin-left: 0px;
    margin-top: 2px;
    font-size: 7px;
    padding: 2px 5px 2px 5px;
  }

  .goingButton {
    height: 20px;
    margin: 10px 6px 0px 20px;
    width: 100px;
    padding: 0px 5px;
    font-size: 9px;
  }

  .small-title {
    font-size: .75em;
    margin-bottom: 6px;
  }

  .address {
    margin: 10px 0px 0px 0px;
  }

  .large-title {
    font-size: 1.2em;
    margin-bottom: 3px;
  }

  .clubImage {
    width: 110px;
    height: 95px;
  }

  .rating-message {
    display: none;
  }

  .RSVP {
    font-size: 9px;
    margin-bottom: 3px;
    margin-right: 8px;
  }

  p {
    font-size: 7px;
  }
}

@media (max-width: 480px) and (min-width: 401px) {
  .form-inline .form-control {
    width: 60%;
  }

  .form-control {
    display: inline;
  }

  .card {
    height: 95px;
  }

  .card-title {
    margin-left: 0px;
  }

  .going-message {
    margin-left: 0px;
    margin-top: 1px;
    font-size: 8px;
    margin-right: 34px;
  }

  .goingButton {
    height: 20px;
    margin: 5px 6px 0px 20px;
    width: 100px;
    padding: 0px 5px;
    font-size: 9px;
  }

  .small-title {
    font-size: 1.25em;
    margin-bottom: 6px;
  }

  .address {
    margin: 0px;
  }

  .large-title {
    font-size: 1.5em;
    margin-bottom: 0px;
  }

  .clubImage {
    width: 110px;
    height: 95px;
  }

  .rating-message {
    display: none;
  }

  .RSVP {
    font-size: 9px;
    margin-bottom: 3px;
    margin-right: 8px;
  }

  p {
    font-size: 9px;
  }
}

@media (max-width: 600px) and (min-width: 481px) {
  .form-inline .form-control {
    width: 70%;
  }

  .form-control {
    display: inline;
  }

  .rating-message {
    display: none;
  }
}

@media (max-width: 801px) and (min-width: 601px) {
  .rating-message {
    display: none;
  }

  .form-control {
    display: inline;
  }

  p {
    font-size: 11px;
  }

  .small-title {
    font-size: 1.5em;
  }

  .large-title {
    font-size: 2em;
  }

  .card {
    height: 115px;
  }

  .going-message {
    margin-bottom: 3px;
    font-size: 9px;
  }

  .goingButton {
    width: 30%;
    font-size: 14px;
    padding: 0px;
    margin-bottom: 3px;
  }

  .clubImage {
    width: 155px;
    height: 115px;
  }

  .RSVP {
    font-size: 14px;
    padding: 1px 10px;
    margin-bottom: 3px;
  }
}

@media (min-width: 802px) {
  .going-message {
    font-size: 10px;
  }
}